.owner-section {
  .owner-section__owner-name {
    font-weight: bold;
    width: 100%;
    padding: 15px 5px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    justify-content: space-between;
    display: flex;
  }
}
