@import '../../styles/Variables';

.category-card {
  margin: 0;
  position: relative;
  height: 130px;
  width: 100%;

  button {
    all: unset;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: $normal-border-radius;
    position: absolute;
  }

  .category-card-texts {
    box-sizing: border-box;
    color: white;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    text-align: end;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 5px;

    div {
      margin: 10px 10px 5px;
    }

    hr {
      border-color: white;
      margin-left: 10%;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
