@import './src/styles/Variables';

button.light-button {
  width: 100%;
  padding: 10px;
  border-radius: $normal-border-radius;
  font-size: 16px;
  background-color: white;
  border: 1px solid black;
  -webkit-appearance: none;
}

button.dark-button {
  width: 100%;
  padding: 10px;
  border-radius: $normal-border-radius;
  font-size: 16px;
  background-color: $button-background-color;
  border: none;
  -webkit-appearance: none;
}
