@import 'src/styles/Variables';

.dollar-input {
  display: flex;

  input {
    width: 100%;
    border-radius: 0 $normal-border-radius $normal-border-radius 0;
  }

  span:first-of-type {
    padding: 10px 10px 6px;
    border: 0.5px grey solid;
    border-right: none;
    border-radius: $normal-border-radius 0 0 $normal-border-radius;
  }
}