.fixed-title-bar {
  display: flex;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  position: fixed;
  background-color: white;
  border-bottom: 1px solid grey;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 9999;

  align-items: center;
  justify-content: space-between;

  h1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .fixed-title-bar__right-element {
    justify-self: end;
  }
}

