.sign-up-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-buttons {
    width: 100%;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #agree-terms-claim {
    font-size: 15px;
    width: 100%;
    color: grey;
  }
}
