@import '../../../../styles/Variables';

.my-items {
  #my-items-search {
    position: relative;

    input {
      width: 100%;
    }
  }

  #my-items-page-title {
    display: flex;
    justify-content: space-between;

    svg {
      margin-right: 10px;
    }

    margin-bottom: 20px;
  }
}
