@import "../../../../styles/Variables";

.my-item-card {
  display: flex;
  height: 150px;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: $normal-border-radius;
  box-shadow: 5px 5px 5px #e6e6e6, -5px 5px 5px #e6e6e6;

  .my-item-card-content {
    display: flex;
    flex: 9;
    height: 100%;
    align-items: baseline;

    .my-item-card-title {
      display: flex;
      margin-bottom: 15px;
      font-weight: bold;
    }

    .my-item-card-content-data {
      height: 100%;
      width: 100%;

      .my-item-image-container {
        width: 55%;
        height: 70%;
        overflow: hidden;
        margin-right: 15px;

        img {
          width: auto;
          height: 100%;
          object-fit: contain;
        }
      }

      .my-item-card-rental-price {
        width: 100%;

        .dollar-input {
          display: inline-flex;
          width: 50%;
          margin-right: 5px;
        }
      }

      .my-item-card-second-column {
        .my-item-card-show-on-site {
          position: relative;
          margin-top: 10px;
        }
      }

      .column-layout {
        align-items: baseline;
      }
    }
  }

  .my-item-card-buttons {
    flex: 1;
    align-items: flex-end;
    font-size: 20px;

    svg {
      margin-bottom: 15px;
    }
  }
}
