@import './Variables.scss';

* {
  font-family: 'Lato', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input {
  border: 1px solid grey;
  border-radius: $normal-border-radius;
  padding: 5px;
  height: 40px;
}

#app-content {
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  all: unset;
  font-size: 20px;
  font-weight: bold;
}

h3 {
  all: unset;
  font-size: 16px;
}

h5 {
  all: unset;
  font-size: 14px;
}
