.input-field {
  width: calc(100% - 12px);
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid grey;

  svg {
    padding-right: 10px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-label {
  font-size: 12px;
  display: block;
}

.image-button {
  width: 50%;
  margin: auto;

  input[type=file] {
    height: 0;
    overflow: hidden;
    width: 0;
  }

  [type="file"] + label {
    background: lightgrey;
    border: none;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 30px;
    position: relative;
  }

  svg {
    display: block;
  }

}