.input-field {
  width: calc(100% - 12px);
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid grey;

  svg {
    padding-right: 10px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-label {
  font-size: 12px;
  display: block;
}