.input-field{
  width: calc(100% - 12px);
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid grey;

  svg {
    padding-right: 10px;
  }
}

.input-label {
  font-size: 12px;
  display: block;
}