.login-page {
  margin: 10px;

  .login-page-body {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .login-page-title {
      margin-bottom: 10px;
    }

    .login-buttons {
      margin-bottom: 10px;
    }

    .sign-up-button {
      &:hover {
        cursor: pointer;
      }
    }
  }
}