.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-page-title {
    margin-bottom: 10px;
  }

  .login-buttons {

  }

  .sign-up-button {
    &:hover {
      cursor: pointer;
    }
  }
}