.menu-page {
  text-align: center;

  button {
    margin-bottom: 15px;
  }

  #menu-page-body {
    width: 100%;
    padding-bottom: 10px;
  }

  #menu-page-button-group {
    display: flex;
    flex-direction: column;

    a {
      text-align: center;
      text-decoration: none;
      width: 100%;
    }

    .menu-page-options {
      margin-bottom: 5px;
    }
  }

  #secondary-options {
    width: 50%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 10px 0;
    div {
      margin-bottom: 5px;
    }
  }

  #menu-page-policy-section {
    div {
      margin-bottom: 5px;
      color: grey;
    }

    margin-top: 10px;
  }
}