hr {
  color: black;
  height: 1px;
  border: none;
  border-top: 0.5px solid black;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

#progress-circles {
  margin-top: 5px;
}

.circle-number {
  font-size: 12px;
  margin-left: 5px;
}