.search-box-container {
  display: flex;
  align-self: center;
  padding-right: 10px;
  padding-left: 10px;
  flex-grow: 1;

  .search-box {
    display: flex;
    flex-grow: 1;
  }

  .fa-search {
    color: white;
    margin-right: 5px;
  }
}