.column-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.full-width-row {
  width: calc(100vw - 20px);
  margin-left: -20px;
  padding: 5px 0 5px 20px;
}

.center-aligned {
  display: flex;
  justify-content: center;
  text-align: center;
}