.fixed-title-bar {
  display: flex;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  position: fixed;
  background-color: white;
  padding-top: 10px;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: flex-end;
}

.fixed-title-bar__title--font {
  font-weight: bold;
}

.fixed-title-bar__right-element {
  justify-self: end;

}