.order-line-item-icon {
  position: relative;
  img {
    height: 110px;
    object-fit: contain;
  }

  .fa-layers {
    position: absolute;
    z-index: 1000;
    bottom: 25px;
    right: 0;
    height:0;
    width: 0;
  }
}
