#item-detail-page {
  .item-detail__detail-top {
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
  }

  .item-detail__detail-bottom {
    margin-top: 5px;

    .item-detail__delivery-price {
      svg {
        margin-right: 10px;
      }
    }
  }

  .item-detail__price-section{
    display: flex;
    justify-content: flex-end;

    .two-line-dollar-display {
      margin-left: 20px;
    }
  }

  h5 {
    color: grey;
  }

  footer {
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    padding: 10px;
  }

  #item-detail__description {
    p {
        white-space: pre-wrap;
    }
  }
}
